* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {

    text-decoration: none;
}

body {
    background-color: #fbfbfc;
    height: auto;
}

.my-width {
    width: 1200px;
    margin: 0 auto;
}

.my-title {
    height: 253px;
    overflow: hidden;
    background-color: #fbfbfc;
}